@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}




:root {
  --green_color: #5924ec;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
    overflow-x: hidden;
}

/* * hero-section */
.hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.1)
    ),
    url("./assets/hero3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  width: 100%;
  overflow-x: hidden;
}

.hero-text {
    margin-top: 17rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
    max-width: 50rem;
}
.hero-text h1 {
    color: #fff;
    font-size: 3.7rem;
    line-height: 1.1;
}
.hero-text p {
    max-width: 30rem;
    color: #ececec;
}
.hero-text button {
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    text-transform: capitalize;
    color: #fff;
    background-color: var(--green_color);
}

@media (max-width: 700px) {
    .hero-text h1 {
        font-size: 2.7rem;
    }
    .hero-text {
        padding: 0 .5rem;
    }
    .hero-text p {
        font-size: .8rem;
    }
}
@media (max-width: 400px) {
    .hero-text {
        margin-top: 17rem;
        gap: 1.3rem;
    }
    .hero-text h1 {
        font-size: 2.4rem;
    }
}